.BehindTheScenes {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 80vh;
}

.leftB {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    place-items: center;
}

.leftContent {
    width: 70%;
}

.leftB .leftContent h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.leftB .leftContent p {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: white;
    line-height: 20px;
}

.rightB {
    width: 80%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    place-items: center;
}

.BehindTheScenesPhoto {
    max-height: 70%;
    aspect-ratio:auto;
    max-width: 90%;
    border-radius: 10px;
    
}