.BehindTheScenes {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 80vh;
}

.leftB {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    place-items: center;
}

.leftContent {
    width: 70%;
}

.leftB .leftContent h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.leftB .leftContent p {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: white;
    line-height: 20px;
}

.rightB {
    max-width: 50%;
    margin: 30px;
    height: 70%;
    overflow: scroll;

    display: flex;
    justify-content: flex-start;
    place-items: center;
}

.BehindTheScenesPhoto {
    height: 100%;
    aspect-ratio:auto;
    border-radius: 10px;
    margin-right: 20px;
}

.ImageFullScreen {
    height: 100%;
    aspect-ratio: auto;
    border-radius: 10px;

}

.user {
    margin-top: 20px;
}


@media all and (max-width: 1000px) {
    .BehindTheScenes {
        flex-direction: column !important;
        justify-content: center;
        place-items: center;
        height: fit-content;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .leftContent {
        width: fit-content;
        max-width: 90%;
    }
    .BehindTheScenesPhoto {
        width: 100%;
        height: 100%;
    }
    .leftB {
        height: fit-content;
        margin-top: 30px;
        width: 80%;
    }
    .rightB {
        margin: 0;
        margin-top: 30px;
        width: 70%;
    }

}

@media all and (max-width: 600px) {
    .leftContent {
        width: 90%;
    }
    .rightB {
        width: 90%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: block;
    }
}

@keyframes neueVorschaubilder {
    from {
        transform: translateX(30px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}